<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\henry\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\henry\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\inetpub\wwwroot\chatbot\app.py" />           
        </fastCgi>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\chatbot" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="OPENAI_API_KEY" value="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" />
    </appSettings>
</configuration>


