<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\henry\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\henry\AppData\Local\Programs\Python\Python311\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="h:\programs\chatbot\app.py" />
        </fastCgi>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
